.input-address {
    border: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--second-color);
    width: 100%;
    margin: 10px 0;
}

.checkout-cart {
    width: 40% !important;
}

.arrow {
    position: absolute;
    left: 97%;
    top: 12px;
}

.user-infor {
    /*padding-bottom: 10px;*/
    border-bottom: 1px solid black;
}

.custom-label {
    width: 100%;
    display: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.active {
    display: block !important;
}
.checkout {
    box-shadow: 0px -4px 10px -4px rgba(0, 0, 0, 0.66);
    z-index: 10;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px 50px;
}