.container {
    width: 70% !important;
}

.home-section {
    border-radius: 7px;
    background-color: whitesmoke;
    padding: 15px !important;
    margin: 15px 0;
}

.col-5th {
    width: 20%;
    flex: 0 0 20%;
    max-width: 20%;
}