
<div class="bg-white">
    <nav class="navbar navbar-expand-sm container position-relative p-2">
        <a class="navbar-brand m-0 col-md-3 text-center" href="/">
            <img class="w-100 pb-2" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/fahasa-logo.png">
        </a>
        <div class="d-flex">
            <span class="mr-2"> <i class="fa-solid fa-bars"></i></span>
            <span><i class="fa-solid fa-arrow-down"></i></span>
        </div>
        <form class="col-md-6">
            <div class="input-group mw-md bg-white position-relative">
                <input class="form-control p-4 border-1" id="search-desktop " autocomplete="on" type="text"
                       placeholder="Search Book" name="keyword">
                <button class="btn pt-1 pb-1 pr-3 pl-3 btn-primary icon-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
        <div class="col-md-3 d-flex justify-content-around p-0 cursor-pointer">
            <div class="d-flex flex-column align-items-center bell ">
                <i class="fa-regular fa-bell"></i>
                <span>Thông báo</span>
                <div class="sub-notification">
                    <p class="sub-notification-header">
                        <span> <i class="fa-regular fa-bell"></i></span>
                        Thông báo
                    </p>
                    {% if current_user.is_authenticated %}
                        <div class="sub-notification-menu text-center pl-4 pt-4 pr-4">
                            <img src="{{ current_user.avt_url }}" style="margin-left: auto; margin-right: auto;"
                                 width="100"
                                 class="rounded-circle"/>
                            <a class="nav-link text-info" href="/">
                                Chào {{ current_user.full_name }}
                            </a>
                        </div>
                        <div class="pl-4 pb-4 pr-4 ">
                            <button class="btn mb-3 pt-1 pb-1 pr-3 pl-3 btn-primary btn-large">
                                <a class="text-decoration-none text-white" href="/account/logout">Đăng xuất</a>
                            </button>
                        </div>
                    {% else %}
                        <div class="sub-notification-menu text-center pl-4 pt-4 pr-4">
                            <span class="sub-notification-menu-icon"></span>
                            <p class="pt-3 pb-3">Vui lòng đăng nhập để xem thông báo </p>
                        </div>
                        <div class="pl-4 pb-4 pr-4 ">
                            <button class="btn mb-3 pt-1 pb-1 pr-3 pl-3 btn-primary btn-large">
                                <a class="text-decoration-none text-white" href="/account/login">Đăng nhập</a>
                            </button>
                            <button class="btn pt-1 pb-1 pr-3 pl-3 btn-primary-outline btn-large">
                                <a class="text-decoration-none text-primary" href="/account/register">Đăng ký</a>
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
            <a class="d-flex cart-link position-relative flex-column align-items-center ">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Giỏ hàng</span>

                {% if cart_items %}
                    <span class="label-total text-white">{{ cart_items|length }}</span>
                    <div class="menu-cart-item">
                        <div class="menu-cart-item-header">
                            <p class="p-3 m-0">
                                <span><i class="fa-solid fa-cart-shopping"></i></span>
                                <span>Giỏ hàng ({{ cart_items|length }})</span>
                            </p>
                        </div>
                        <div>
                            <ul class="sub-cart list-unstyled mt-3">
                                {% for item in cart_items %}
                                    <li class="sub-cart-item d-flex p-3">
                                        <img class="sub-cart-item-image"
                                             src="{{ item.book.images[0].image_url }}">
                                        <div class="sub-cart-item-detail pl-3">
                                            <p class="sub-cart-item-title text-secondary">{{ item.book.title }}</p>
                                            <p class="font-weight-bold m-0 text-primary">{{ item.book.price|currency("VND") }}
                                                <span>x {{ item.quantity }}</span></p>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                        <div class="d-flex p-3 align-items-center justify-content-between">
                            <div class="group-price">
                                <p class="m-0">Tổng cộng</p>
                                <p class="text-primary">{{ total_price|currency("VND") }}</p>
                            </div>
                            <div>
                                <button class="btn btn-primary">
                                    Xem giỏ hàng
                                </button>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </a>
            <div class="d-flex flex-column align-items-center account ">
                <i class="fa-regular fa-user"></i>
                <span>Tài khoản</span>
                <div class="sub-login flex-column border-1">
                    {% if current_user.is_authenticated %}
                        <img src="{{ current_user.avt_url }}" style="margin-left: auto; margin-right: auto;" width="100"
                             class="rounded-circle"/>
                        <a class="nav-link text-info" href="/">
                            Chào {{ current_user.full_name }}
                        </a>
                        <button class="btn mb-3 pt-1 pb-1 pr-3 pl-3 btn-primary btn-large">
                            <a class="text-decoration-none text-white" href="/account/logout">Đăng xuất</a>
                        </button>
                    {% else %}
                        <button class="btn mb-3 pt-1 pb-1 pr-3 pl-3 btn-primary btn-large">
                            <a class="text-decoration-none text-white" href="/account/login">Đăng nhập</a>
                        </button>
                        <button class="btn pt-1 pb-1 pr-3 pl-3 btn-primary-outline">
                            <a class="text-decoration-none text-primary" href="/account/register">Đăng ký </a>
                        </button>
                    {% endif %}
                </div>
            </div>

        </div>
    </nav>

</div>